## Standard github ignore
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

## ctags
tags

## build dir
build/*

## swap/backup
# vim
*.swp
*~

